<h1>Currently existing guilds!</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let guild of guilds; let i = index">
    <h2 class="accordion-header" [attr.id]="'heading' + i">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'#collapse' + i">
        <strong>{{ guild.name }}</strong>&nbsp; [{{guild.currentMembersCount}}/{{guild.membersCount}}]
      </button>
    </h2>
    <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'#heading' + i" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Description:</strong>
        <p>{{guild.description}}</p>

        <p>
          <a class="btn btn-primary" [title]="guild.name + ' details'" [routerLink]="['/guilds', guild.id]">Details</a>
        </p>

      </div>
    </div>
  </div>
</div>
<button (click)="toggleFormVisibility()" class="btn btn-primary" style="margin-top: 20px;">Vytvoriť novú Guildu</button>

<div id="guildFormContainer" style="display: none;">
  <form [formGroup]="guildForm" >
    <div class="form-group">
      <label for="name">Meno Guildy:</label>
      <input type="text" id="name" class="form-control" formControlName="name"/>
    </div>
    <div class="form-group">
      <label for="description">Popis Guildy:</label>
      <textarea id="description" class="form-control" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="membersCount">Maximálny počet členov:</label>
      <input type="number" class="form-control" id="membersCount" formControlName="membersCount" />
    </div>
    <div>
      <button type="submit" class="btn btn-success" [disabled]="guildForm.invalid" (click)="onCreateGuild()" style="margin-bottom: 20px;">Vytvoriť Guildu</button>
    </div>
  </form>
</div>

