<h1>Currently existing guilds!</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let guild of guilds; let i = index">
    <h2 class="accordion-header" [attr.id]="'heading' + i">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'#collapse' + i">
        <strong>{{ guild.name }}</strong>&nbsp; [0/{{guild.membersCount}}]
      </button>
    </h2>
    <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'#heading' + i" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Description:</strong>
        <p>{{guild.description}}</p>

        <p>
          <a class="btn btn-primary" [title]="guild.name + ' details'" [routerLink]="['/guilds', guild.id]">Details</a>
        </p>
        
      </div>
    </div>
  </div>
</div>
