<h1>{{guildName}} details page</h1>
<br />
<h3>Description:</h3>
<p>{{guildDescription}}</p>
<p></p>
<br />

<div class="flex-container">

  <div>
    <h2>Our members({{guildCurrentMemberCount}}/{{guildMemberCount}}): </h2>
    <ol>
      <li *ngFor="let user of guildUsers">
        {{user.userName}} ({{user.email}})
      </li>
    </ol>
  </div>
  <button type="button" class="btn btn-primary join-btn" (click)="onJoinGuild()" *ngIf="hasGuild == false || IsInGuild == false">Join us!</button>
  <button type="button" class="btn btn-primary join-btn" *ngIf="IsInGuild == true" disabled>Join us!</button>
  <button type="button" class="btn btn-danger join-btn" (click)="onLeaveGuild()" *ngIf="hasGuild == true || IsInGuild == false" >Leave :((</button>

</div>

