<h1>{{guildDetail().name}} details page</h1>
<br />
<h3>Description:</h3>
<p>{{guildDetail().description}}</p>
<p></p>
<br />

<div class="flex-container">

  <div>
    <h2>Our members({{guildDetail().currentMembersCount}}/{{guildDetail().membersCount}}): </h2>
    <ol>
      <li *ngFor="let user of guildDetail().users">
        {{user.userName}} ({{user.email}})
      </li>
    </ol>
  </div>
  <button type="button" class="btn btn-primary join-btn" (click)="onJoinGuild()" *ngIf="hasThisGuild() == false && hasAnyGuild() == false">Join us!</button>
  <button type="button" class="btn btn-danger join-btn" (click)="onLeaveGuild()" *ngIf="hasThisGuild() == true">Leave :((</button>
  <div class= btn-secondary join-btn" *ngIf="hasAnyGuild() == true && hasThisGuild() == false">Leave current guild if you want to join us!</div>

